<div ref="<%= id %>" class="box<%= id %>">
    <%- slot -%>
</div>

<style>
.box<%= id %> {
    <% if(Style) { for(let keyStyle in Style){ %>
    <%= keyStyle %>: <%= Style[keyStyle] %>; <% } } %>
    width: <% if(!Dimensions.widthAuto) { %><%= Dimensions.width %>px<% } else { %>auto<% } %>;
    height: <% if(!Dimensions.heightAuto) { %><%= Dimensions.height %>px<% } else { %>auto<% } %>;
    position: <%= Transform.position %>;
    top: <%= Transform.top %>px; 
    left: <%= Transform.left %>px;
    z-index: <%= Transform.zIndex %>;
    transform: scale(<%= Transform.scale %>) rotate(<%= Transform.rotate %>deg);
}
</style>